body, html {
    font: 18px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37373a;
}

.NavBar-Container {
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;
    position: sticky;
}

.NavBar-Container .NavBar {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0px;
    flex-wrap: wrap;
}

.NavBar-Container .NavBar .NavBar-Item {
    flex-grow: 1;
    margin-right: 1px;
}

.NavBar-Container .NavBar .NavBar-Item a {
    text-decoration: none;
    align-items: center;
    display: flex;
    background-color: #2b2b2b;
    color: white;
    padding: 4px 8px;
}

.NavBar-Container .NavBar .NavBar-Item :hover{
    background-color: #37373a;
}

.NavBar-Container .NavBar .NavBar-Item a img, .NavBar .NavBar-Item a svg {
    text-align: center; 
    height: 32px; 
    padding: 0px 6px 0px 0px; 

}

.NavBar-Container .NavBar .NavBar-Form {
    display: flex;
    align-self: center;
    padding: inherit;
}

.NavBar-Container .NavBar .NavBar-Form input {
    background-color: #646464;
    padding-left: 8px;
    margin-right: 1px;
}

.NavBar-Container .NavBar .NavBar-Form button {
    text-decoration: none;
    border: none;
    background-color: #2b2b2b;
    color: white;
    font: inherit;
    margin: -8px;
    padding: 9px 8px;
}

.NavBar-Container .NavBar .NavBar-Form .NavBar-Form-Button {
    padding: 8px;
}

.NavBar-Container .NavBar .NavBar-Form .NavBar-Form-Button :hover {
    background-color: #37373a;
}

.NavBar-Container .SearchBar {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    flex-wrap: wrap;
}

.NavBar-Container .SearchBar .SearchBar-Item a {
    text-decoration: none;
    color: white;
    padding: 4px 25px;
    background-color: #2b2b2b;
}

.NavBar-Container .SearchBar .SearchBar-Item {
    margin-left: 8px;
}

.NavBar-Container .SearchBar .SearchBar-Item :hover {
    background-color:#37373a;
}

.NavBar-Container .SearchBar .SearchBar-Form {
    display: flex;
    align-self: center;
}

.NavBar-Container .SearchBar .SearchBar-Form .SearchBar-Form-Button {
    padding: 4px 4px;
    background-color: #2b2b2b;
}

.NavBar-Container .SearchBar .SearchBar-Form .SearchBar-Form-Button :hover {
    background-color:#37373a;
}

.NavBar-Container .SearchBar .SearchBar-Form input {
    background-color: #646464;
    margin-left: 8px;
    padding-left: 12px;
    margin-right: 1px;
}

.NavBar-Container .SearchBar .SearchBar-Form button {
    text-decoration: none;
    border: none;
    background-color: #2b2b2b;
    color: white;
    font: inherit;
    margin: -5px 0px;
    padding: 5px 8px;
}

input {
    border: none;
    font-size: 14px;
    color: white;
}

.DisplayArea {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    min-height: 1000px;
    flex-direction: column;
}

.DisplayArea .MapperHeader {
    color: #262626;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 8px;
    margin: 6px auto 0px auto;
    overflow-wrap: break-word;
    font-size: 24px;
    border-radius: 4px;
}

.DisplayArea .SongSearch-ListDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: inherit;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info {
    background-color: #dfdfdf;
    margin: 8px;
    width: 400px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info a {
    text-decoration: none;
    color: #451ba2;;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info img {
    max-width: 256px;
    max-height: 256px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Header-Info {
    display: flex;
    justify-content: space-between;
    padding:4px 8px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Cover-Image {
    display: flex;
    justify-content: center;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Date-Uploaded {
    display: flex;
    justify-content: center;
    padding-right: 16px;
    padding: 4px 0px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .SongAndUser-Info {
    padding: 0px 10px;
    padding-top: 4px;
    margin-top: 4px;
    background-color: #f5f5f5;
    box-shadow: 0px -12px 30px -18px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .SongAndUser-Info a {
    overflow-wrap: break-word;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .MapStats {
    display: flex;
    justify-content: space-evenly;
    margin: 8px 8px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .MapStats div {
    padding: 0px 2px;
    box-shadow: 0px 0px 6px 2px #aa5151;
    background-color: #e4b8b891;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs,
.SingleSong-Info .Difs {
    display: flex;
    justify-content: space-evenly;
    color: #fdfdfd;
    font-size: 14px;
    padding-top: 6px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs .Easy,
.SingleSong-Info .Difs .Easy {
    padding: 4px 6px;
    text-align: center;
    background-color: #3cb371;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs .Normal,
.SingleSong-Info .Difs .Normal {
    padding: 4px 6px;
    text-align: center;
    background-color: #59b0f4;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs .Hard,
.SingleSong-Info .Difs .Hard {
    padding: 4px 6px;
    text-align: center;
    background-color: #ff6347;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs .Expert,
.SingleSong-Info .Difs .Expert {
    padding: 4px 6px;
    text-align: center;
    background-color: #bf2a42;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Difs .ExpertPlus,
.SingleSong-Info .Difs .ExpertPlus {
    padding: 4px 6px;
    text-align: center;
    background-color: #8f48db;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Modes,
.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Modes .Mode {
    display: flex;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Modes .Mode .Standard,
.SingleSong-Info .Modes .Mode .Standard {
    background-color:  #212123;
    margin: 8px;
    padding-bottom: 8px;
    color: #b5b5b5;
    border-radius: 6px;
    flex-grow: 1;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Modes .Mode .Standard .Mode-Title,
.SingleSong-Info .Modes .Mode .Standard .Mode-Title {
    margin-left: 10px;
    padding-top: 4px;
}

.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Download-Stuff {
    display: flex;
    justify-content: space-evenly;
}
.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Download-Stuff a {
    flex-grow: 2;
    text-align: center;
    padding: 6px 0px;
    margin-top: 4px;
}
.DisplayArea .SongSearch-ListDisplay .Simple-Song-Info .Download-Stuff a:hover {
background-color: #f2f2f2;
border-radius: 6px;
}

.DisplayArea .SingleSong-Info {
    background-color: #f0f0f0;
    margin-top: 12px;
    border-radius: 4px;
}

.DisplayArea .SingleSong-Info .Simple-Song-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.DisplayArea .SingleSong-Info img {
    width: 256px;
    height: 256px;
    margin: 16px 16px 4px 16px;
    box-shadow: 0px 10px 10px -6px;
}

.SingleSong-Info .Modes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.SingleSong-Info .Modes .Mode {
    display: flex;
}

.SingleSong-Info .Simple-Song-Info-Container {
    display: flex;
}

.SingleSong-Info .Simple-Song-Info-Container .Left-Area {
    display: flex;
    flex-direction: column;
}

.SingleSong-Info .Simple-Song-Info-Container .Left-Area .Cover-Image-Div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area {
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0px 9px -5px;
    flex-grow: 2;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area .Song-Info {
    padding: 10px;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area .Date-Uploaded {
    padding: 6px 0px 0px 6px;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area .MapStats {
    padding: 10px;
    align-self: center;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area .MapStats div {
    width: max-content;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Song-Name-Stuff {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Top-Area .SongAndUser-Info a {
    overflow-wrap: anywhere;
    text-decoration: none;
    color: #451ba2;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Middle-Area {
    padding: 10px; 
    background-color: #f9f9f9; 
    flex-grow: 1; 
    box-shadow: 0px -3px 10px -8px;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Download-Stuff {
    display: flex;
    border-top: 1px solid #a4a4a4;
}

.SingleSong-Info .Simple-Song-Info-Container .Right-Area .Middle-Area .Description {
    overflow-wrap: anywhere;
}

.DisplayArea .Download-Stuff a {
    text-decoration: none;
    flex-grow: 2;
    text-align: center;
    padding: 6px 0px;
    color: #451ba2;
}

.DisplayArea .Download-Stuff a:hover {
    background-color: #d5d5d5;
    border-radius: 6px;
}

.Footer-Nav {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    align-items: baseline;
    background-color: #515151;
    color: white;
}
.Footer-Nav a {
    text-decoration: none;
    flex-grow: 2;
    text-align: center;
    padding: 10px;
    color: white;
}

.Footer-Nav a:hover {
    background-color: #2f2f2f;
}

.Footer-Nav input {
    color: black;
    font-size: 14px;
}

.Footer-Nav .Footer-Page {
    padding: 8px;
    display: flex;
}

.Footer-Nav .Footer-Page div {
    padding: 0px 6px;
}

.Site-Info {
    display: flex;
    justify-content: center;
}

footer {
    display: contents;
    position: absolute;
    bottom: 0;
}


@media screen and (max-width: 450px) {
    .DisplayArea .SongSearch-ListDisplay .Simple-Song-Info {
        width: 340px;
    }
    .NavBar-Container .NavBar {
        display: none;
    }
}